@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F8F5;
  --foreground: #3C4623;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
